.heading {
    color: #fff;
    background: #f86e12;
    text-transform: uppercase;
    padding: 20px;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

#myform {
    position: absolute;
    margin-left: 40%;
}

p {
    color: #337AB7;
}

input {
    width: 400px;
    border: none;
    background: transparent;
    border-bottom: 1px solid red;
    padding: 6px;
    margin-bottom: 15px;
    color: black;
    align-items: center;
}

button {
    width: 130px;
    height: 40px;
    background: linear-gradient(to bottom, #f86e12 0%, #f86e12 100%);
    border: none;
    border-radius: 5px;
    position: relative;
    border-bottom: 4px solid #f85312;
    color: #fbfbfb;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    font-size: 15px;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, .2);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

button:active {
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
    top: 1px;
}

button:after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-top: 20px solid #187dbc;
    border-bottom: 20px solid #187dbc;
    border-left: 16px solid transparent;
    border-right: 20px solid #187dbc;
    position: absolute;
    opacity: 0.6;
    right: 0;
    top: 0;
    border-radius: 0 5px 5px 0;
}

#register {
    margin-left: 2%;
}

.login {
    margin-top: -6.75%;
    margin-left: 20%;
}

.card-body {
    margin-left: 40%;
}

.footer {
    margin-top: 20%;
}